footer.ftco-footer.ftco-bg-dark.ftco-section
    .container
        .row.mb-5
            .col-md
                .ftco-footer-widget.mb-4
                    h2.ftco-heading-2 Tasty
                    p
                        | Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.
                    ul.ftco-footer-social.list-unstyled.float-md-left.float-lft
                        li.ftco-animate
                            a(href='#')
                                span.icon-twitter
                        li.ftco-animate
                            a(href='#')
                                span.icon-facebook
                        li.ftco-animate
                            a(href='#')
                                span.icon-instagram
                canvas#cube(width='200', height='200')
                    | not support canvas
            .col-md
                .ftco-footer-widget.mb-4
                    h2.ftco-heading-2 Opening Hours
                    ul.list-unstyled
                        li
                            a.py-2.d-block(href='#')
                                | Monday:
                                span 08: - 22:00
                        li
                            a.py-2.d-block(href='#')
                                | Tuesday:
                                span 08: - 22:00
                        li
                            a.py-2.d-block(href='#')
                                | Wednesday:
                                span 08: - 22:00
                        li
                            a.py-2.d-block(href='#')
                                | Thursday:
                                span 08: - 22:00
                        li
                            a.py-2.d-block(href='#')
                                | Friday:
                                span 08: - 22:00
                        li
                            a.py-2.d-block(href='#')
                                | Saturday:
                                span 08: - 22:00
                        li
                            a.py-2.d-block(href='#')
                                | Sunday:
                                span 08: - 22:00
            .col-md
                .ftco-footer-widget.mb-4
                    h2.ftco-heading-2 Contact Information
                    ul.list-unstyled
                        li
                            a.py-2.d-block(href='#') One Washington Square, San Jose CA 95112
                        li
                            a.py-2.d-block(href='#') + 1234 5678 90
                        li
                            a.py-2.d-block(href='#') info@yoursite.com
                        li
                            a.py-2.d-block(href='#') email@email.com
                    p#ball_info
            .col-md
                .ftco-footer-widget.mb-4
                    h2.ftco-heading-2 Newsletter
                    p Far far away, behind the word mountains, far from the countries.
                    form.subscribe-form(action='#')
                        .form-group
                            span.icon.icon-paper-plane
                            input.form-control(type='text', placeholder='Subscribe')
                canvas#ball(width='200', height='200')
                    | not support canvas
        .row
            .col-md-12.text-center
                p
                    | Copyright ©
                    script.
                        document.write(new Date().getFullYear());
                    |  All rights reserved | This template is made by AmazingWeb referenced Colorlib
#ftco-loader.show.fullscreen
    svg.circular(width='48px', height='48px')
        circle.path-bg(cx='24', cy='24', r='22', fill='none', stroke-width='4', stroke='#eeeeee')
        circle.path(cx='24', cy='24', r='22', fill='none', stroke-width='4', stroke-miterlimit='10', stroke='#F96D00')
