meta(charset='utf-8')
title=title
meta(name='viewport', content='width=device-width, initial-scale=1.0, shrink-to-fit=no')
link(href='https://fonts.googleapis.com/css?family=Muli:300,400,600,700', rel='stylesheet')
link(href='https://fonts.googleapis.com/css?family=Indie+Flower', rel='stylesheet')
//- Animate Library
link(href='/css/animate.css', rel='stylesheet')
//- Carousel Library
link(href='/css/owl.carousel.min.css', rel='stylesheet')
link(href='/css/owl.theme.default.min.css', rel='stylesheet')
//- Picture View Library
link(href='/css/magnific-popup.css', rel='stylesheet')
//- Animate On Scroll Library
link(href='/css/aos.css', rel='stylesheet')
//- icon library
link(href='/css/open-iconic-bootstrap.min.css', rel='stylesheet')
link(href='/css/ionicons.min.css', rel='stylesheet')
link(href='/fonts/font-awesome/css/font-awesome.min.css', rel='stylesheet')
link(href='/css/flaticon.css', rel='stylesheet')
link(href='/css/icomoon.css', rel='stylesheet')
//- jQuery-UI Library
link(href='/css/custom-ui.css', rel="stylesheet")
//- TimePicker Library
link(href='/css/jquery.timepicker.css', rel='stylesheet')
//- Datatables Library
link(href='/vendor/datatables/datatables.min.css', rel='stylesheet')
//- MorrisJS
link(href='/css/morris.css', rel='stylesheet')
//- Template Theme Style
link(href='/css/style.css', rel='stylesheet')
//- Our Custom Style
link(href='/css/content.css', rel='stylesheet')