section.ftco-section-2#main
    .container.d-flex
        .section-2-blocks-wrapper.row
            .img.col-sm-12.col-lg-6(style="background-image: url('/images/about-2.jpg');")
            .text.col-lg-6.ftco-animate
                .text-inner.align-self-start
                    span.subheading About Tasty
                    h3.heading Our chef cooks the most delicious food for you
                    p
                        | Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.
                    p
                        | A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.