section.ftco-section.testimony-section
    .container
        .row.justify-content-center.mb-5.pb-5
            .col-md-7.text-center.heading-section.ftco-animate
                span.subheading Guests Says
                h2 Our Satisfied Guests says
        .row.ftco-animate
            .carousel.owl-carousel.ftco-owl
                each item in inits.review
                    .item.text-center
                        .testimony-wrap.p-4.pb-5
                            .user-img.mb-4(style='background-image: url(' + item.image + ')')
                            .text
                                p.star-rate
                                    - var n = item.rate
                                    while n > 0
                                        if n-- >= 1
                                            span.icon-star
                                        else
                                            span.icon-star-half-full
                                p.mb-5=item.content
                                p.name=item.name
                                span.position=item.from